Source: com.github.bcedu.valasimplehttpserver
Section: x11
Priority: extra
Maintainer: Eduard Berloso Clarà <eduard.bc.95@gmail.com>
Build-Depends: debhelper (>= 9),
               meson,
               valac (>= 0.16),
               libgtk-3-common,
               libgranite-common,
               libsoup2.4-dev,
               libgee-0.8-2,
               libhandy-1

Standards-Version: 3.9.3
Package: com.github.bcedu.valasimplehttpserver
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: VServer
 com.github.bcedu.valasimplehttpserver
